

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  margin: 5px;
}

html{
  background-color: black;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  background-color: #99C24D;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 0;
  border: solid 8px #285943;
  border-radius: 20px;
}

div.scrollmenu a:hover {
  background-color: #777;
}

img {
  padding: 2px; /* Some padding */
  width: fit-content; /* Set a small width */
  height: 21.5vh;
  border-radius: 10px;
}

h2{
  padding: 3px;;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}
h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  margin: 3px;
  margin-left: 25px;
}

div.contentBlocks{
  background-color: #2F2D2E;
  border-radius: 20px;
  border: solid 8px #285943;
  margin-left: 10px;
  margin-right: 10px;
  margin-right: 10px;
}


p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

body {
  display: flex;
  flex-direction: row;
}

.content-container {
  flex: 0.85;
  margin-top: 20px;
  height: 80vh;
}

.navbar-container {
    font-family: Calibri;
    font-size: 36px;
    flex: 0.15;
    background-color: #2F2D2E;
    height: 80vh;
    margin: 20px;
    margin-left: 4px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    border: solid 8px #285943;
}

.navbar-container .nav-element {
    display: flex;
    flex: 1;
    border: solid 1px #285943;
    background-color: #99C24D;
    color: black;
    border-radius: 10px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.navbar-container .nav-element:hover {
  cursor: pointer;
}

.textbox{
    display: flex;
    flex: 1;
    border: solid 8px #285943;
    background-color: #99C24D;
    color: black;
    border-radius: 20px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
a.textbox a:hover{
  background-color: white;
}

.img-container {
    flex: 1;
    background-color: #2F2D2E;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.stbrendans-img {
    width: fit-content;
    max-height: 80px;
}

.info-container {
  display: flex;
  flex: 0.85;
}