body {
    background-color: black;
    color: white;
    font-size: 14;
    display: flex;
    flex-direction: row;
    font-family: "Calibri";
}

@media screen and (min-width:1000px) {
    body {
        font-size: 36px;
    }
}

.calender-container {
    background-color: #2F2D2E;
    margin: 20px;
    height: 80vh;
    border-radius: 20px;
    padding: 10px;
    border: #285943 2px solid;
    flex: 0.85;
}

.inner-cont {
    display: flex;
}

.inner-cont > div {
    flex: 1;
    height: 65vh;
    margin-top: 20px;
}
.upcoming-cont {
    background-color: 2F2D2E;
}

.array-cont {
    background-color: 2F2D2E;
    margin-left: 10px;
    margin-right: 10px;
    height: 60vh;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.array-cont > div {
    background-color: #99C24D;
    border: solid 1px black;
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
    color: black;
}

.top-text-cont{
    display: flex;
    justify-content: space-between;
}

.next-cont {
    background-color: #2F2D2E;
    padding-top: 10px;
}

.next-trip {
    background-color: #99C24D;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    height: fit-content;
    border-radius: 15px;
    border: solid 1px black;
    color: black;
    padding: 5px;
    padding-left: 20px;
}

.next-trip-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    height: fit-content;
}

.next-trip-list > li {
    margin-bottom: 5px;
}

.navbar-container {
    flex: 0.15;
    background-color: #2F2D2E;
    height: 80vh;
    margin: 20px;
    margin-left: 4px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    border: solid 2px #285943;
}

.navbar-container .nav-element {
    display: flex;
    flex: 1;
    border: solid 1px #285943;
    background-color: #99C24D;
    color: black;
    border-radius: 10px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.navbar-container .nav-element:hover {
  cursor: pointer;
}

.img-container {
    flex: 1;
    background-color: #2F2D2E;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.stbrendans-img {
    width: fit-content;
    max-height: 60px;
}