body {
  background-color: #000000;
  color: #ffffff;
  font-family: Calibri;
  display: flex;
  font-size: 36px;
}

.profile-container {
  margin-top: 20px;
  margin-bottom: 20px;
  flex: 0.85;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-right: 20px;
  height: 80vh;
  background-color: #2f2d2e;
  padding: 15px;
  border-radius: 25px;
}

.pfp {
  border: solid 8px #285943;
  grid-area: 1 / 1 / 2 / 2;
  border-radius: 25px;
  background-color: #99c24d;
  padding-left: 35px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 20px;
  text-align: center;
  justify-content: center;
}

.pfp-img-container {
  height: 80%;
  width: 100%;
}

.pfp-img-container > img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.personalinfo {
  grid-area: 1 / 2 / 2 / 4;
  border: solid 8px #285943;
  border-radius: 25px;
  background-color: #99c24d;
  padding-left: 35px;
  padding-right: 35px;
}

.accountinfo {
  grid-area: 2 / 1 / 3 / 4;
  border: solid 8px #285943;
  border-radius: 25px;
  background-color: #99c24d;
  padding-left: 35px;
  padding-bottom: 20px;
}

.navbar-container {
  flex: 0.15;
  background-color: #2f2d2e;
  height: 80vh;
  margin: 20px;
  margin-left: 4px;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  border: solid 8px #285943;
}

.navbar-container .nav-element {
  display: flex;
  flex: 1;
  border: solid 1px #285943;
  background-color: #99c24d;
  color: black;
  border-radius: 10px;
  margin: 5px;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.navbar-container .nav-element:hover {
  cursor: pointer;
}

.img-container {
  flex: 1;
  background-color: #2f2d2e;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.stbrendans-img {
  width: fit-content;
  max-height: 120px;
  border-radius: 10px;
}
